<div class="mx-auto" style="width: 1400px;">
  <div class="card border-info mb-3">
    <div class="card-header">
      <div class="h3">Insumos</div>
      
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <div class="h3">
          <a class="btn btn-info btn-sm" routerLink="/nuevoinsumo">Nuevo Insumo</a>
        </div>



        <div class="form-row">

          <div class="col">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">Buscar por:</div>
              </div>
              <select class="form-control" id="selected" [(ngModel)]="selected">
                <option value='nombre'>Nombre</option>
                <option value='descripcion'>Descripción</option>
              </select>
    
            </div>
          </div> 

          <div class="col" >
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">Escribir datos a buscar:</div>
              </div>
    
              <input type="text" [(ngModel)]="filtertext" class="form-control" placeholder="Nombre, descripción...">
            
            </div>
          </div>

        </div>

        
        <div class="h6">
          
          <table class = "table table-bordered table-striped">
            <thead class = "thead-dark">
              <tr >
                <th scope="col" class="text-center">Id</th>
                <th scope="col" class="text-center">Nombre</th>
                <th scope="col" class="text-center">Descripción</th>
                <th scope="col" class="text-center">Cantidad</th>
                <th scope="col" class="text-center">Acción</th>
              </tr>
            </thead>
        
            <tbody>
               <tr *ngFor="let insumo of insumos | insumo: filtertext: selected | paginate: { itemsPerPage: 5, currentPage: pageActual }">
                <td class="text-center">{{insumo.id}}</td> 
                <th class="text-center">{{insumo.nombre}}</th>
                <th class="text-center">{{insumo.descripcion}}</th>
                <th class="text-center">{{insumo.cantidad}}</th>
                <td class="text-center"><a class="btn btn-info btn-sm" routerLink="/nuevoinsumo/{{insumo.id}}">Ver-Editar</a></td> 
               </tr>
            </tbody>
            
          </table>
          <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>

        </div>
        
        <footer class="blockquote-footer">Sistema de Cirugías<cite title="Source Title"> -Hospital de Mateo y Narda</cite></footer>
      </blockquote>
    </div>
  </div>
  
</div>

