<div class="mx-auto" style="width: 1400px;">
  <div class="card border-info mb-3">
    <div class="card-header">
      <div class="h3">Insumos</div>
      
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <div class="h3">
          <a class="btn btn-info btn-sm" routerLink="/nuevoinsumo">Nuevo Insumo</a>
        </div>
        <div class="h6">
          
          
 
          <table class = "table table-bordered table-striped">
            <thead class = "thead-dark">
              <tr >
                <th scope="col" class="text-center">Id</th>
                <th scope="col" class="text-center">Nombre</th>
                <th scope="col" class="text-center">Descripción</th>
                <th scope="col" class="text-center">Cantidad</th>
                <th scope="col" class="text-center">Acción</th>
              </tr>
            </thead>
        
            <tbody>
               <tr *ngFor="let insumos of insumo">
                <td class="text-center">{{insumos.id}}</td> 
                <th class="text-center">{{insumos.nombre}}</th>
                <th class="text-center">{{insumos.descripcion}}</th>
                <th class="text-center">{{insumos.cantidad}}</th>
                <td class="text-center"><a class="btn btn-info btn-sm" routerLink="/nuevoinsumo/{{insumos.id}}">Ver-Editar</a></td> 
               </tr>
            </tbody>
            
          </table>
        </div>
        
        <footer class="blockquote-footer">Sistema de Cirugías<cite title="Source Title"> -Hospital de Mateo y Narda</cite></footer>
      </blockquote>
    </div>
  </div>
  
</div>

