
<div class="mx-auto" style="width: 1200px;">
  <div *ngIf="mensaje=='Exito'">
    <div class="alert alert-success" id="alert">
    <strong>¡Su solicitud se ha completado con éxito!</strong>
    </div>
  </div>

  <div *ngIf="mensaje=='fallo'">
    <div class="alert alert-danger" id="alert">
    <strong>¡Ha ocurrido un error!</strong> {{errores}}
    </div>
  </div>
  
  <div class="card">
    <div class="card-header">


      <div *ngIf="id>0" class="h3">Modificar los datos:</div>
      <div *ngIf="estado==1" class="h3">Ingrese los datos para registrar:</div>
      
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <div class="h6">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="nombre">Nombre:</span>
            </div>
            <input *ngIf="id>0" [(ngModel)]="sala_e.nombre" type="text" class="form-control"> 
            <input *ngIf="estado==1" [(ngModel)]="sala.nombre" type="text" class="form-control">  
          </div>
    
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="descripcion">Descripción:</span>
            </div>
            <input *ngIf="id>0" [(ngModel)]="sala_e.descripcion" type="text" class="form-control"> 
            <input *ngIf="estado==1" [(ngModel)]="sala.descripcion" type="text" class="form-control">  
          </div>
    
          <div class="text-center">
            <button *ngIf="id>0" (click)="update()" class="btn btn-info">Guardar</button>
            <button *ngIf="estado==1" (click)="registrarSala()" id="guardar_sala" class="btn btn-info">Registrar</button>
    
          </div>
        </div>
        
        <footer class="blockquote-footer">Sistema de Cirugías<cite title="Source Title"> -Hospital de Mateo y Narda</cite></footer>
      </blockquote>
    </div>
  </div>
  
</div>


