<div class="mx-auto" style="width: 1400px;">
  <div class="card border-info mb-3">
    <div class="card-header">
      <div class="h3">Materiales</div> 
      
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <div class="h3">
          <a class="btn btn-info btn-sm" routerLink="/nuevomaterial">Nuevo Material</a>
        </div>

        <div class="form-row">

          <div class="col">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">Buscar por:</div>
              </div>
              <select class="form-control" id="selected" [(ngModel)]="selected">
                <option value='nombre'>Nombre</option>
                <option value='descripcion'>Descripción</option>
                <option value='estado'>Estado</option>
              </select>
    
            </div>
          </div> 

          <div class="col" >
            <div class="input-group mb-2">
              
              <div class="searchbar">
                <input [(ngModel)]="filtertext"  class="search_input" type="text" name=""  placeholder="Nombre, descripción, estado...">
                <a href="#" class="search_icon"><i class="fa fa-search"></i></a>
              </div>
              
            </div>
          </div>

        </div>

        <div class="h6">
          
          <h5>Material Activo:</h5>

          <table class = "table table-bordered table-striped">
            <thead class = "thead-dark">
              <tr >
                <th scope="col" class="text-center">Id</th>
                <th scope="col" class="text-center">Nombre</th>
                <th scope="col" class="text-center">Descripción</th>
                <th scope="col" class="text-center">Cantidad</th>
                <th scope="col" class="text-center">Estado</th>
                <th scope="col" class="text-center">Acción</th>
              </tr>
            </thead>
        
            <tbody>
              <tr *ngFor="let material of materiales | material: filtertext: selected | paginate: { itemsPerPage: 5, currentPage: pageActual }">
                <td class="text-center" *ngIf="material.estadoe==0">{{material.id}}</td> 
                <th class="text-center" *ngIf="material.estadoe==0">{{material.nombre}}</th>
                <th class="text-center" *ngIf="material.estadoe==0">{{material.descripcion}}</th>
                <th class="text-center" *ngIf="material.estadoe==0">{{material.cantidad}}</th>
                <th class="text-center" *ngIf="material.estadoe==0">{{material.estado}}</th>
                <td class="text-center" *ngIf="material.estadoe==0"><a class="btn btn-info btn-sm" routerLink="/nuevomaterial/{{material.id}}">Ver-Editar</a></td> 
              </tr>
            </tbody>
            
          </table>

          <h5>Material Inactivo:</h5>

          <table class = "table table-bordered table-striped">
            <thead class = "thead-dark">
              <tr >
                <th scope="col" class="text-center">Id</th>
                <th scope="col" class="text-center">Nombre</th>
                <th scope="col" class="text-center">Descripción</th>
                <th scope="col" class="text-center">Cantidad</th>
                <th scope="col" class="text-center">Estado</th>
                <th scope="col" class="text-center">Acción</th>
              </tr>
            </thead>
        
            <tbody>
              <tr *ngFor="let material of materiales | material: filtertext: selected | paginate: { itemsPerPage: 5, currentPage: pageActual }">
                <td class="text-center" *ngIf="material.estadoe==1">{{material.id}}</td> 
                <th class="text-center" *ngIf="material.estadoe==1">{{material.nombre}}</th>
                <th class="text-center" *ngIf="material.estadoe==1">{{material.descripcion}}</th>
                <th class="text-center" *ngIf="material.estadoe==1">{{material.cantidad}}</th>
                <th class="text-center" *ngIf="material.estadoe==1">{{material.estado}}</th>
                <td class="text-center" *ngIf="material.estadoe==1"><a class="btn btn-info btn-sm" routerLink="/nuevomaterial/{{material.id}}">Habilitar-Editar</a></td> 
              </tr>
            </tbody>
            
          </table>
          <pagination-controls  
            (pageChange)="pageActual = $event" 
            responsive="true" 
            previousLabel="Anterior" 
            nextLabel="Siguiente">
          </pagination-controls>
        </div>
        
        <footer class="blockquote-footer">Sistema de Cirugías<cite title="Source Title"> -Hospital de Mateo y Narda</cite></footer>
      </blockquote>
    </div>
  </div>
  
</div>