
    body,html{
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        
        }
    
        .searchbar{
        margin-bottom: auto;
        margin-top: auto;
        height: 40px;
        background-color: #E9ECEF;
        border-radius: 30px;
        padding: 5px;
        }
    
        .search_input{
        color: rgb(70, 70, 70);
        border: 0;
        outline: 0;
        background: none;
        width: 0;
        caret-color:transparent;
        line-height: 10px;
        transition: width 0.4s linear;
        }
    
        .searchbar:hover > .search_input{
        padding: 0 10px;
        width: 630px;
        caret-color:#138496;
        transition: width 0.4s linear;
        }
    
        .searchbar:hover > .search_icon{
        background: white;
        color: #138496;
        }
    
        .search_icon{
        height: 30px;
        width: 30px;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color:#138496;
        text-decoration:none;
        }


        