<div class="mx-auto" style="width: 1200px;">
  <div class="card">
    <div class="card-header" >


      <div *ngIf="id>0" class="h3">Modificar los datos:</div>
      <div *ngIf="estado==1" class="h3">Ingrese los datos para registrar:</div>
      
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <div class="h6">          
          <div class="form-row">

            <div class="col">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Nombre:</div>
                </div>
                <input *ngIf="id>0" [(ngModel)]="personal_e.nombre" type="text" class="form-control"> 
                <input *ngIf="estado==1" [(ngModel)]="personal.nombre" type="text" class="form-control">  
              </div>
            </div> 

          </div>

         
          <div class="form-row">

            <div class="col">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Apellido Paterno:</div>
                </div>
                <input *ngIf="id>0" [(ngModel)]="personal_e.apellidoP" type="text" class="form-control"> 
                <input *ngIf="estado==1" [(ngModel)]="personal.apellidoP" type="text" class="form-control">  
              </div>
            </div> 

            <div class="col">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Apellido Materno:</div>
                </div>
                <input *ngIf="id>0" [(ngModel)]="personal_e.apellidoM" type="text" class="form-control"> 
                <input *ngIf="estado==1" [(ngModel)]="personal.apellidoM" type="text" class="form-control">  
              </div>
            </div> 

          </div>

          <div class="form-row">

            <div class="col">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Dirección:</div>
                </div>
                <input *ngIf="id>0" [(ngModel)]="personal_e.direccion" type="text" class="form-control"> 
                <input *ngIf="estado==1" [(ngModel)]="personal.direccion" type="text" class="form-control">  
              </div>
            </div> 

          </div>

          <div class="form-row">

            <div class="col">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Teléfono:</div>
                </div>
                <input *ngIf="id>0" [(ngModel)]="personal_e.telefono" type="phone" class="form-control"> 
                <input *ngIf="estado==1" [(ngModel)]="personal.telefono" type="phone" class="form-control">  
              </div>
            </div> 

            <div class="col" >
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Cargo que ocupa:</div>
                </div>

                <select *ngIf="id>0" class="custom-select mr-sm-2" id="inlineFormCustomSelect" [(ngModel)]="personal_e.id_rol">
                  <option selected>Selecciona el rol que ocupará el empleado:</option>
                  <option *ngFor="let valor of valor" value="{{valor.id}}">{{valor.nombre}}</option>
                </select>

                <select *ngIf="estado==1" class="custom-select mr-sm-2" id="inlineFormCustomSelect" [(ngModel)]="personal.id_rol">
                  <option selected>Selecciona el rol que ocupará el nuevo empleado:</option>
                  <option *ngFor="let valor of valor" value="{{valor.id}}">{{valor.nombre}}</option>
                </select>
              </div>
            </div>

          </div>

          <div class="form-row">

            <div class="col" >
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Estado:</div>
                </div>

                <select *ngIf="id>0" class="custom-select mr-sm-2" id="inlineFormCustomSelect" [(ngModel)]="personal_e.estado">
                  <option selected>Selecciona el estado del empleado:</option>
                  <option value="0">Habilitado</option>
                  <option value="1">Deshabilitado</option>
                </select>

                <select *ngIf="estado==1" class="custom-select mr-sm-2" id="inlineFormCustomSelect" [(ngModel)]="personal.estado">
                  <option selected>Selecciona el estado del empleado:</option>
                  <option value="0">Habilitadp</option>
                  <option value="1">Deshabilitado</option>
                </select>
              </div>
            </div>

          </div>
          
          <br> 

          <div class="text-center">
            <button  *ngIf="id>0" (click)="update()" class="btn btn-info">Guardar</button>
            <button *ngIf="estado==1" (click)="registrar_personal()" class="btn btn-info">Registrar</button>

          </div>
          <br>
        </div>
        
        <footer class="blockquote-footer">Sistema de Cirugías<cite title="Source Title"> -Hospital de Mateo y Narda</cite></footer>
      </blockquote>
    </div>
  </div>
  
</div>

