<!-- <app-full-calendar></app-full-calendar> -->

<link rel="shortcut icon" href="favicon.ico" />
    <nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color: #adcee6;">
      <a class="navbar-brand" >Sistema de Cirugías</a>

      <div *ngIf="valor.id_rol>0" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <!--<li class="nav-item active">
            <a class="nav-link" routerLink="/home">Inicio<span class="sr-only">(current)</span></a>
          </li>-->

          <!--PANTALLAS DE DOCTOR ROL 2-->

          <!-- <li class="nav-item">
            <a *ngIf="valor.id_rol==2" class="nav-link" routerLink="/register" tabindex="-1" aria-disabled="true">Nuevo Paciente</a>
          </li> -->
          <li class="nav-item">
            <a *ngIf="valor.id_rol==2" class="nav-link" routerLink="/pacientes" tabindex="-1" aria-disabled="true">Mis Pacientes</a>
          </li>
          <li class="nav-item">
            <a *ngIf="valor.id_rol==2" class="nav-link" routerLink="/calendar" tabindex="-1" aria-disabled="true">Mi Calendario</a>
          </li>

          <!--PANTALLAS DE ENCARGADO DE MATERIALES ROL 3-->

          <li class="nav-item">
            <a *ngIf="valor.id_rol==3" class="nav-link" routerLink="/insumos" tabindex="-1" aria-disabled="true">Insumos</a>
          </li>
          <li class="nav-item">
            <a *ngIf="valor.id_rol==3" class="nav-link" routerLink="/materiales" tabindex="-1" aria-disabled="true">Materiales</a>
          </li>

          <!--PANTALLAS DE ADMINISTRADOR ROL 1-->

          <li class="nav-item">
            <a *ngIf="valor.id_rol==1" class="nav-link" routerLink="/pacientes" tabindex="-1" aria-disabled="true">Pacientes</a>
          </li>
          <li class="nav-item">
            <a *ngIf="valor.id_rol==1" class="nav-link" routerLink="/calendar" tabindex="-1" aria-disabled="true">Calendario</a>
          </li>
          <li class="nav-item">
            <a *ngIf="valor.id_rol==1" class="nav-link" routerLink="/salas" tabindex="-1" aria-disabled="true">Salas</a>
          </li>
          <li class="nav-item">
            <a *ngIf="valor.id_rol==1" class="nav-link" routerLink="/personal" tabindex="-1" aria-disabled="true">Personal</a>
          </li>
          <li class="nav-item">
            <a *ngIf="valor.id_rol==1" class="nav-link" routerLink="/insumos" tabindex="-1" aria-disabled="true">Insumos</a>
          </li>
          <li class="nav-item">
            <a *ngIf="valor.id_rol==1" class="nav-link" routerLink="/materiales" tabindex="-1" aria-disabled="true">Materiales</a>
          </li>


        </ul>
      </div>

      <div *ngIf="valor.id_rol>0" class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="navbar-brand" >{{valor.name}}</a>
            <h4></h4>
          </li>

          <li class="nav-item">
              <a *ngIf="valor.id>0" class="nav-link" routerLink="cerrarCuenta()" >Cerrar Sesión</a>
          </li>
        </ul>
      </div>

        <div *ngIf="valor.id_rol==empty" class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/login">Iniciar Sesión</a>
            </li>
          </ul>
        </div>
    </nav>
<br/>
<div class="containter">
  <router-outlet></router-outlet>
</div>


