<div class="mx-auto" style="width: 1400px;" >
  <div  class="card border-info mb-3">
    <div class="card-header">
      <div *ngIf="valor.id_rol==1  || valor.id_rol==6" class="h3">Cirugías</div>
      <div *ngIf="valor.id_rol==2" class="h3">Mis Cirugías</div>
      
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">

        <div class="form-row">

          <div class="col">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">Buscar por:</div>
              </div>
              <select class="form-control" id="selected" [(ngModel)]="selected">
                <option value='id_paciente'>Identificación del paciente</option>
              </select>
    
            </div>
          </div> 

          <div class="col" >
            <div class="input-group mb-2">
              
              <div class="searchbar">
                <input [(ngModel)]="filtertext"  class="search_input" type="text" name=""  placeholder="Identificación del paciente..">
                <a href="#" class="search_icon"><i class="fa fa-search"></i></a>
              </div>
              
            </div>
          </div>

        </div>

        <div class="h6">
          <div *ngIf="valor.id_rol==2" class="h3">
            <a class="btn btn-info btn-sm" routerLink="/cirugias">Nueva Cirugía</a>
          </div>
        
          <table class = "table table-bordered table-striped">
            <thead class = "thead-dark">
              <tr>
                <th scope="col" class="text-center">Id</th>
                <th scope="col" class="text-center">Paciente</th>
                <th scope="col" class="text-center">Fecha de Cirugía</th>
                <th scope="col" class="text-center">Fecha de Cirugía</th>
                <th *ngIf="valor.id_rol==1 || valor.id_rol==2" scope="col" class="text-center">Detalles</th>
                <th *ngIf="valor.id_rol==2" scope="col" class="text-center">Personal</th>
                <th *ngIf="valor.id_rol==2" scope="col" class="text-center">Insumo</th>
                <th *ngIf="valor.id_rol==2" scope="col" class="text-center">Material</th>
                <th *ngIf="valor.id_rol==6" scope="col" class="text-center">Cambiar estado</th>
              </tr>
            </thead>
        
            <tbody>
              <tr *ngFor="let cirugia of cirugias | cirugia: filtertext: selected | paginate: { itemsPerPage: 5, currentPage: pageActual }">
                <td class="text-center">{{cirugia.id}}</td>
                <td class="text-center">{{cirugia.id_paciente}}</td>
                <th class="text-center">{{cirugia.fechaIngreso}}</th>
                <th class="text-center">{{cirugia.fechaSalida}}</th>
                <td *ngIf="valor.id_rol==1 || valor.id_rol==2" class="text-center"><a class="btn btn-info btn-sm" routerLink="/cirugias/{{cirugia.id}}">Ver-Editar</a></td>
                <td *ngIf="valor.id_rol==2" class="text-center"><a class="btn btn-info btn-sm" routerLink="/personal_cirugia/{{cirugia.id}}">Agregar-Editar</a></td>
                <td *ngIf="valor.id_rol==2" class="text-center"><a class="btn btn-info btn-sm" routerLink="/insumo_cirugia/{{cirugia.id}}">Agregar-Editar</a></td>
                <td *ngIf="valor.id_rol==2" class="text-center"><a class="btn btn-info btn-sm" routerLink="/material_cirugia/{{cirugia.id}}">Agregar-Editar</a></td>
                <td *ngIf="valor.id_rol==6" class="text-center"><a class="btn btn-info btn-sm" routerLink="/cirugias/{{cirugia.id}}">Modificar</a></td>
              </tr>
            </tbody>
        
          </table>
          <pagination-controls  
            (pageChange)="pageActual = $event" 
            responsive="true" 
            previousLabel="Anterior" 
            nextLabel="Siguiente">
          </pagination-controls>


        </div> 
      </blockquote>
    </div>
  </div> 
 
  <div *ngIf="valor.id_rol==1 || valor.id_rol==2" class="card border-info mb-3">
    <div class="card-header">
      <div *ngIf="valor.id_rol==2" class="h3">Mi Calendario</div>
      <div *ngIf="valor.id_rol==1" class="h3">Calendario</div>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        
        <div class="h6">
          <div class="h3">
            <button type="button" class="btn btn-info" (click)="boton()" >Ver Calendario</button>
          </div>

          <div id="full-calendar" load="boton()"></div>
        </div> 
      </blockquote>
    </div>
  </div>


      
      
</div >

  
 
